__pycache__/
*.pyc
*.pyo
*.pyd

*.db
*.sqlite3

.env
.vscode
.idea
.gitignore

_images_/

anand_scraper_playwright.py
discourse_scraper.py
project-tds-virtual-ta-promptfoo.yaml
project-tds-virtual-ta-q1.webp

README.md
test.txt
test_embedding.py
anand_scraped.jsonl
discourse_posts.jsonl
faiss_index.py